@import "tailwindcss";

@layer base {
  *:focus-visible {
    @apply outline-0;
  }
  h1 {
    @apply text-4xl font-bold mb-8 md:mb-10 leading-[1.2] text-slate-900;
  }
}

@layer components {
  form {
    @apply my-12 p-2 lg:p-12 border-2 border-zinc-200 rounded-md bg-white shadow-2xl;
  }
  .input-container {
    @apply flex flex-col p-3 lg:mb-2;
  }
  label {
    @apply mb-2 lg:mb-4 text-sm lg:text-base lg:leading-normal font-medium text-zinc-600;
  }

  input[type="text"],
  textarea {
    @apply border-2 border-zinc-300 rounded-md p-4 bg-zinc-50 text-zinc-900 focus-visible:border-blue-500 shadow-sm transition-colors duration-150 lg:leading-normal;
  }

  textarea {
    @apply min-h-32 md:min-h-40 lg:min-h-52;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-zinc-400;
  }

  input[type="checkbox"] {
    @apply w-5 aspect-square md:w-6  rounded-md border-zinc-400 accent-blue-500 transition-all duration-150 cursor-pointer;
  }

  form button {
    @apply text-white text-lg self-center font-semibold rounded-md bg-blue-600 hover:bg-blue-700 transition-colors duration-1500 cursor-pointer shadow-sm py-3 lg:w-fit px-10;
  }
}

@layer utilities {
  .container {
    @apply mx-auto my-0 w-[90%] lg:w-[85%] max-w-6xl;
  }
}
