@import "tailwindcss";

@layer base {
  *:focus-visible {
    @apply outline-0;
  }

  h1 {
    @apply text-5xl font-bold text-slate-900 dark:text-slate-100;
  }
  h2 {
    @apply text-center lg:text-start text-4xl font-bold my-8 md:mb-10 md:mt-0 leading-[1.2] text-slate-900 dark:text-slate-100;
  }

  h3 {
    @apply text-2xl font-bold mb-2;
  }

  h4 {
    @apply text-2xl font-bold;
  }
}

@layer components {
  form {
    @apply my-12 p-2 lg:p-12 border-2 border-zinc-200 dark:border-zinc-800 rounded-md bg-zinc-100  dark:bg-zinc-900 shadow-2xl lg:shadow-md;
  }
  .input-container {
    @apply flex flex-col p-3 lg:mb-2;
  }
  label {
    @apply mb-2 lg:mb-4 text-sm lg:text-base lg:leading-normal font-medium text-zinc-600 dark:text-zinc-300;
  }

  input[type="text"],
  textarea {
    @apply border-2 border-zinc-300 dark:border-zinc-700 rounded-md p-4 bg-zinc-50 dark:bg-zinc-800 text-zinc-900 dark:text-zinc-50 focus-visible:border-blue-500 shadow-sm transition-colors duration-150 lg:leading-normal;
  }

  textarea {
    @apply min-h-32 md:min-h-40 lg:min-h-52;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-zinc-400 dark:text-zinc-500;
  }

  input[type="checkbox"] {
    @apply w-5 aspect-square md:w-6  rounded-md border-zinc-400 dark:border-zinc-600 accent-blue-500 transition-all duration-150 cursor-pointer;
  }

  form button {
    @apply text-white text-lg self-center font-semibold rounded-md bg-blue-600 dark:bg-blue-500 hover:bg-blue-700 dark:hover:bg-blue-600 transition-colors duration-150 cursor-pointer shadow-sm py-3 lg:w-fit px-10;
  }
}

@layer utilities {
  .container {
    @apply mx-auto w-[90%] lg:w-[85%] max-w-6xl;
  }
}
